.v-about {
    font: 1em sans-serif;
    color: rgb(50, 50, 50);
}

.v-about-img {
    width: 90%;
}

.v-fun-facts span {
    border: 1px solid rgb(50, 50, 50);
    margin: 0.2rem;
    padding: 0.5rem 0.7rem;
    display: inline-block;
    border-radius: 20px;
}

.about-app .v-header {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em;
} 

.v-img-container {
    padding: 2em;
    text-align: center;
}

.v-path-img {
    width: 60%;
    margin: 5em auto;
}

.v-hobby {
    padding: 2em;
}

.v-hobby .v-button {
    display: inline-block;
    margin: .5em;
    padding: 0.5em 1.5em;
    border: 1px rgb(85, 8, 102) solid;
}

.about-items {
    border-bottom: 1px solid black;
}

.v-skills {
    font-size: 1.2rem;
}

.bottom-space {
    width: 100%;
    height: 10em;
}