.v-projects-header {
    padding: 0.5rem;
    padding-left: 1rem;
    font-family: Georgia, Times;
    font-size: 3rem;
    font-weight: 500;
}

.v-project {
    height: 40vh;
    background: rgb(236, 236, 236);
    margin: 1.2rem 0.8rem;
    padding: 1rem;
    border-radius: 1em;
}

.v-project-title {
    font-size: 2.3rem;
    color: white;
    padding-left: 1rem;
}

.v-project-summary {
    font-size: 1.2rem;
    display: block;
    margin-top: 8rem;
    padding-left: 1rem;
    color: white;
}

#viridium .v-project-summary {
    margin-top: 7rem;
}

.v-tag {
    font-size: 1rem;
    padding: 4px;
    margin: 5px 2px 5px;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
}

.v-project-tags {
    padding-top: 0.3rem;
    padding-right: 0.5rem;
}

.v-bottom {
    position: relative;
    display: block;
    height: 50%;
}

.v-bottom span{
    position: absolute;
    bottom: 10px;
}

#p1 {
    background-color: #88AD4D;
    color: white;
}

#viridium {
    background-color: #278BB9;
    color: white;
}

#p2 {
    background-color: #000F70;
    color: white;
}

#p3 {
    background-color: #4254CA;
    color: white;
}

.v-project:hover {
    box-shadow: 1rem 0.5rem 2rem rgb(160, 160, 160);
}

.v-project-image {
    margin-top: 2rem;
    width: 120px;
    transform: perspective(200px) rotate3D(1, 20, 2, -30deg);
}






