.home-page {
    --v-micro-app-bg : rgb(255, 255, 255);
    --v-micro-app-color: rgb(50, 50, 50)
}

.home-page .v-page-body{
    background: url("/public/resources/blue-paint-unsplash-crop.jpg");
    background-size: 100%;
    width: 100%;
    background-repeat: repeat-y;
}

.home-page .navbar {
    position: fixed;
    width: 100%;
}

.home-page .v-container {
    padding-top: 7.5rem;
    max-width: 1080px;
}

.home-page .headline-content {
    font-family: Georgia, Times;
    font-size: 4rem;
    font-weight: 500;
    padding: 4px;
    line-height: 4.5rem;
    display: block;
    margin-bottom: 1.5rem;
}

.home-page .headline-name {
    color: #80AF3A;
}

.home-page .blurb-content {
    font-size: 1.1rem;
    width: 80%;
    text-align: left;
    margin-left: 0.5rem;
}

.home-page .text-box {
    color: var(--v-micro-app-color);
    animation-name: headline-content-fade;
    animation-duration: 3s;
    padding-top: 10.5rem;
    height: 90vh;
}

@keyframes headline-content-fade {
    from {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    to {
        opacity: 1;
    }
}

.home-page .v-projects-header {
    font-family: Georgia, Times;
    font-size: 4rem;
    font-weight: 500;
    padding-left: 1rem;
    padding: 0.5rem;
}

.home-page .v-project {
    height: 20rem;
    margin: 1.2rem 0.8rem;
    padding: 1rem;
    border-radius: 1em;
}

.home-page .v-project-title {
    font-size: 2.3rem;
    font-weight: 500;
    color: white;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.home-page .v-project-summary {
    font-size: min(max(0.9rem,1.2vw), 1.3rem);
    display: block;
    margin-top: 8rem;
    padding-left: 1.5rem;
    color: white;
}

.home-page #wedding-whisk {
    background-color: rgba(136,173,77,0.90);
    color: white;
}

.home-page #viridium {
    background-color: rgba(39,139,185,0.9);
    color: white;
}

.home-page #aimss {
    background-color: rgba(0,15,112,0.85);
    color: white;
}

.home-page #digital-portfolio {
    background-color: rgba(66,84,202,0.9);
    color: white;
}

.home-page .v-project:hover {
    box-shadow: 1rem 0.5rem 2rem rgb(160, 160, 160);
}

.home-page .home-icon {
    font-size: 3rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
}

.home-page .bottom-space {
    width: 100%;
    height: 10rem;
}

@media only screen and (max-width: 1080px) {
    body {
      font-size: 0.8rem;
    }
    .home-page .v-project-image {
        display: none;
    }
    .home-page .headline-content {
        font-size: 3.5rem;
    }
  }
  
@media only screen and (max-width: 900px) {
    .navbar {
      --bs-navbar-padding-y: 24px;
      --bs-navbar-padding-x: 24px;
    }
    .home-page .row div{
        width: 100%;
    }
    .home-page .text-box {
        height: 70vh;
    }
    .home-page .blurb-content {
        display: none;
    }
    .home-page .headline-content {
        font-size: 3rem;
    }
}
  



